.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
}

.sidebar.collapsed {
  width: 80px;
}

.dashboard-content {
  flex: 1; 
  background-color: rgba(233, 235, 243, 1);
  padding: 40px 20px 20px 20px;
}