.settings-nav   {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  background-color: #FEFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 600;
  justify-content: space-evenly;
  border-radius: 15px;
  margin-top:20px;
  margin-bottom:20px;
  font-size: 14px;
}
.settings-nav a{
  padding: 10px 20px;
  border-radius: 25px;
  background: rgba(252, 253, 253, 1);
  text-align: center;
}
.settings-nav a.active {
  background: rgba(21, 41, 98, 1);
  color: white;
}
@media (min-width:768px){
  .settings-nav{
   width:70%;
   gap: 10px;
   flex-wrap: nowrap;
  }
}