.sidebar-content{
  position :fixed;
  padding:20px;
}
.sidebar.collapsed {
  --sidebar-width: 60px;
  width: var(--sidebar-width);
}
.sidebar-header{
  display: flex;
  gap:60px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.sidebar-header.collapsed{
 flex-direction:column;
  gap:30px;
}

.sidebar-toggle svg{
  width: 14px;
  height: 14px;
  cursor: pointer;
  font-size: 12px;
  background-color: #E9EBF3;
  padding:4px;
}

.sidebar-logo {
  font-size: 24px;
  font-weight: 600;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #0d183a;
}

.sidebar a {
  display: flex;
  gap:20px;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 10px;
}
.sidebar a span {
 position: relative;
 top:-4px;
}

.sidebar a.active {
  background: #0d183a;
  color: white;
}

.sidebar svg {
  width: 20px;
  height:20px;
}
.link-and-text{
 display: flex;
 gap:20px
}
.icon{
  color:white;
}

/* Hide text when collapsed */
.sidebar.collapsed a span,
.sidebar.collapsed .sidebar-settings-link span {
  display: none;
}

/* Center icons */
.sidebar.collapsed a {
  justify-content: center;
}

.sidebar.collapsed svg {
  margin-right: 0;
}

.sidebar-logo-highlight {
  color: black;
}