.settings-form {
  margin: auto;
}
.settings-form-label {
  font-weight: 600;
}
.settings-form-input {
  width: 100%;
  padding: 10px;
  background: rgba(248, 250, 252, 1);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.settings-label-container {
  width: 100%;
}
.save-settings-btn {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: rgba(21, 41, 98, 1);
  border-radius: 25px;
  color: white;
  border: none;
  margin-left: auto;
  font-size: 14px;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
}
.academic-settings-button-container {
  position: relative;
}
.outside-save-settings-button {
  position: absolute;
  top: 20px;
  right: -20px;
}
.security-setting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border: 0.5px solid black;
  border-radius: 25px;
  margin-top: 20px;
}
.greater-than {
  font-size: 24px;
}
.settings-title {
  font-size: 16px;
}
.log-out-button {
  position: absolute;
  top: 20px;
  right: -20px;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: rgba(215, 17, 4, 1);
  border-radius: 25px;
  color: white;
  border: none;
  margin-left: auto;
  font-size: 14px;
}
@media (min-width: 768px) {
  .settings-name-flex {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .settings-form-input {
    width: 98%;
  }
}
