.main-section{
  background-color: rgba(21, 41, 98, 1);
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.eclipse-image-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
}
.eclipse-image-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
}
.eclipse-image-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
}
.eclipse-image-top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  
}
.reset-form{
  background-color:white;
  color:rgba(21, 41, 98, 1);
  width:25%;
  padding: 30px;
  text-align:center;
  border-radius: 25px;
  margin:20px;
  height:fit-content;
}
.title{
  font-size: 2.5rem;
  margin-bottom:20px;
}
.subtext{
  font-size:0.8rem;
}
.password-input{
  justify-self:center;
  text-align: left; 
  width:95%;
  margin-top:50px;
}    
.password-input-box{
  width:95%;
  background-color: rgba(248, 250, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding:10px;
  border-radius:10px;
}
.reset-button{
  display: block;
  background-color: rgba(21, 41, 98, 1);
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:10px;
  margin-top:50px;
  width:100%;
  cursor: pointer;
}
.cancel-button{
  display: block;
  background-color:white;
  color:rgba(13, 24, 58, 1);
  border:2px solid rgba(13, 24, 58, 1);
  padding:10px 20px;
  border-radius:10px;
  margin-top:25px;
  width:100%;
  cursor: pointer;
}

@media (max-width:1200px) {
  .title{
    font-size: 4.5rem;
  }
  .subtext{
   font-size:1.5rem;
  }
  .reset-form{
    width:70%;
    font-size: 1.5rem;
  }
  .password-input-box{
    font-size:1.5rem;
  }
  .reset-form-button{
    font-size:1.5rem;
  }
}
@media (max-width:700px) {
  .reset-form{
    width:80%;
    font-size: 1.5rem;
  }
  .title{
    font-size: 2.5rem;
  }
  .subtext{
   font-size:0.8rem;
  }
  .passord-input-box{
    font-size:1.5rem;
    height:3vh;
  }

}