.navbar{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 8px 16px;
  background-color:white;
  font-weight:600;
}
.logo{
  color:black;
  font-size: 1.5rem;
}
.highlight{
  color: rgba(13, 24, 58, 1)
}
.nav-links{
  list-style-type: none;
  display:flex;
  gap:8vw;
  max-width:60%;
}
.navlink:hover{
  color:rgba(13, 24, 58, 1);
}
.nav-cta{
  display: flex;
  gap:15px;
}
.nav-btn{
  padding:6px 12px;
  border-radius:10px;
  font-weight:600;
  font-size: 0.8rem;
  transition: transform 0.2s ease-in-out;
}
.nav-btn:hover{
  transform:scale(1.1)
}
.login-btn{
  background-color: white;
  color:rgba(13, 24, 58, 1);
  border: 2px solid rgba(13, 24, 58, 1);
}
.signin-btn{
  background-color: rgba(21, 41, 98, 1);
  color:white;
  border: 2px solid rgba(21, 41, 98, 1)
}
.hamburger-nav{
  display:none;
}

@media (max-width:1024px) {
  .logo{
    font-size: 1rem;
  }
  .navlink{
    font-size: 0.7rem;
  }
  .nav-btn{
    font-size: 0.7rem;
  }
}

@media (max-width:760px){
  .logo{
    font-size: 1.5rem;
  }
  .nav-links{
    display:none;
  }
  .nav-cta{
    display:none
  }
  .hamburger{
    display: flex;
    flex-direction: column;
    gap:5px;
    cursor: pointer;
    background: none;
    border:none;
  }
  .bar{
   width: 20px;
   height:3px;
   background: rgba(13, 24, 58, 1);
   transition: 0.4s;
   border-radius: 5px;
  }
  .hamburger-nav{
    display:none;
    height:100vh;
  }
  .hamburger-nav-links{
    list-style-type: none;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    height:70vh;
    text-align: center;
  }
  .hamburger-nav.open{
    display:flex;
    justify-content: center;
  }
  .hamburger-navlink{
    font-size:1.5rem;
  }
  .hamburger-navlink:hover{
    color: rgba(13, 24, 58, 1);
  }
}