.sidebar {
  width: 15vw;
  padding: 40px 50px;
  color: #0d183a;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height:100vh;
}
.sidebar-logo {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid #0d183a;
}
.sidebar a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  align-items: center;
  font-size: 0.9rem;
}
.sidebar-logo-highlight {
  color: black;
}
.sidebar a.active {
  background: #0d183a;
  color: white;
  border-radius: 10px;
}
.sidebar-links-icon {
  width: 20px;
  margin-right: 10px;
  stroke: currentColor;
}
.sidebar-settings-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
