.body {
  height:100vh;
}

/* header stays normal */
.header {
  text-align: left;
  font-size:24px;
}

/* ONLY center the svg section */
.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}